{
  "presets": [
    "flow",
    "es2015"
  ],

  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
